.Nav {
    display: flex;
    justify-content: space-evenly;
    background-color: White;
    padding: 15px 30px;
    align-items: center;
}
  
.Nav a,
.activemenuboutton {
    color: black;
    text-decoration: none;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.activemenuboutton:hover {
    color: #58a6ff;
}
  
.menuderoulant {
    position: relative;
    display: inline-block;
}
  
.menuderoulantcontent {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rbg(50, 50, 50);
    padding: 10px 0;
    border-radius: 8px;
    z-index: 10;
}
  
.menuderoulantcontent a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
  
.menuderoulantcontent a:hover {
    background-color: rgb(50, 50, 50);
}
  

  